#game {
    display:grid;
    grid-template-columns:300px 200px;
}

.info-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    margin-top:20px;
  }

#board {
    border:1px solid blue;
    background-color: gray;
    height:420px;
    width:300px;
    margin-top:30px;
}

#playbutton {
    background-color: green;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    color:white;
    border:none;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 2px black;
    width:100px;
    
  }

  #playbutton:active {
      background-color: lightgreen;
      color:black;
      box-shadow: 0px 1px 3px 1px black;
  }